<div class="row">
    <div class="col s6">
        <h1 class="nouscontacter">Téléphone</h1>

        <ul class="collapsible" data-collapsible="accordion">

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>STANDARD</div>
                <div class="collapsible-body">
                    <p class="phone">02 37 29 33 36</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>Médecine</div>
                <div class="collapsible-body">
                    <p class="phone">Service :<br/>
                        02 37 29 33 36</p>
                    <p class="phone">Responsable :<br/>
                        02 37 29 33 72</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>Soins de suites et de réadaptation</div>
                <div class="collapsible-body">
                    <p class="phone">Service : 02 37 29 33 53</p>
                    <p class="phone">Responsable : 02 37 29 33 18</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>Soins de longue durée</div>
                <div class="collapsible-body">
                    <p class="phone">Service : 02 37 29 33 39</p>
                    <p class="phone">Responsable : 02 37 29 33 62</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>S.S.I.A.D</div>
                <div class="collapsible-body">
                    <p class="phone">Service : 02 37 81 33 44</p>
                    <p class="phone">Responsable : 02 37 29 33 79</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>E.H.P.A.D</div>
                <div class="collapsible-body">
                    <p class="phone">Collines du Perche : 02 37 29 33 19</p>
                    <p class="phone">Orée du Bois : 02 37 29 33 78</p>
                    <p class="phone">Responsable : 02 37 29 33 67</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>C.A.J.A</div>
                <div class="collapsible-body">
                    <p class="phone">Service : 02 37 29 33 75</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>Animation</div>
                <div class="collapsible-body">
                    <p class="phone">Service et responsable : 02 37 29 33 12</p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>Rééducation</div>
                <div class="collapsible-body">
                    <p class="phone">
                        <p class="phone">Kinésithérapeute : 02 37 29 33 60</p>
                        <p class="phone">Ergothérapeute : 02 37 29 33 65</p>
                    </div>
                </li>

            </ul>

        </div>

        <div class="col s6">
            <div class="contact">
                <div class="container">
                    <h1 class="nouscontacter">Nous contacter</h1>

                    <div class="row">
                      <label>Service que vous voulez contacter</label>
                        <select class="browser-default">
                                      <option value="">STANDARD</option>
                                      <option value="1">E.H.P.A.D</option>
                                      <option value="2">Rééducation</option>
                                      <option value="3">S.S.I.A.D</option>
                                      <option value="4">C.A.J.A</option>
                                      <option value="5">Animation</option>
                                      <option value="6">Soins de longue durée</option>
                                      <option value="7">Soins de suite et de réadaptation</option>
                                      <option value="8">Médecine</option>

                        </select>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Nom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Prénom</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate">
                                    <label for="email" data-error="wrong" data-success="right">Email</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Téléphone</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">comment</i>
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br/>

                    <div class="input-field col s12">
                      <i class="material-icons prefix">comment</i>
                        <select multiple>
                            <option value="" disabled selected>Contact par</option>
                            <option value="1">email</option>
                            <option value="2">Téléphone</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col m8">
                            <p class="right-align">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                                    <i class="material-icons right">send</i>
                                </button>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.055768898362!2d1.0080374840604347!3d48.465987643659034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f06011b77f%3A0xc382764b99c6e0a!2sH%C3%B4pital+Local!5e0!3m2!1sfr!2sfr!4v1474641581418"
            width="100%"
            height="250"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>

    </form>
</div>
