<div class="row">
    <div class="col l6 s12">
        <h2 class="nouscontacter">Téléphone</h2>
        <ul class="collapsible" data-collapsible="accordion">

            <li ng-repeat='contact in vm.contacts | orderBy: "+nom"'>
                <div class="collapsible-header">
                    <i class="material-icons">call</i>{{contact.nom}}</div>
                <div class="collapsible-body">
                        <p>Numéro :{{contact.telephone}}</p>
                        <!--<button ng-click='vm.delete(contact)' class="btn btn-danger">Delete</button>-->
                    </div>
                </li>
            </ul>
        </div>

        <div class="col l6 s12">
            <div class="contact">
                <div class="container">
                    <h2 class="nouscontacter">Nous contacter</h2>

                    <div class="row">
                        <label>Service que vous voulez contacter</label>
                        <select class="browser-default" ng-model='contact.dest'>
                            <option ng-repeat='contact in vm.contacts | orderBy: "+nom"' value="{{contact.email}}">{{contact.nom}}</option>

                        </select>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col m6 s12" id="contactresponsive">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate" ng-model='contact.nom'>
                                    <label for="icon_prefix">Nom</label>
                                </div>
                                <div class="input-field col m6 s12" id="contactresponsive">
                                  <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_telephone" type="tel" class="validate" ng-model='contact.prenom'>
                                    <label for="icon_telephone">Prénom</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col m6 s12" id="contactresponsive">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate" ng-model='contact.mail'>
                                    <label for="email" data-error="wrong" data-success="right">Email</label>
                                </div>
                                <div class="input-field col m6 s12" id="contactresponsive">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="icon_telephone" type="tel" class="validate" ng-model='contact.tel'>
                                    <label for="icon_telephone">Téléphone</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">comment</i>
                                    <textarea id="textarea1" class="materialize-textarea" ng-model='contact.msg'></textarea>
                                    <label for="textarea1">Message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br/>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">comment</i>
                        <select multiple ng-model='contact.contactpar'>
                            <option value="" disabled selected>Contact par</option>
                            <option value="Email">email</option>
                            <option value="Telephone">Téléphone</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col m8 s10">
                            <p class="right-align">
                                <button class="btn waves-effect waves-light" ng-click='vm.sendMessage()'>Envoyer
                                    <i class="material-icons right">send</i>
                                </button>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10613.334757511788!2d0.839002!3d48.3156651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4293be966d3e5435!2sH%C3%B4pital+de+Nogent-le-Rotrou!5e0!3m2!1sfr!2sfr!4v1477598037900"
            width="100%"
            height="250"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>

    </form>
</div>
