<div id="topFixed"></div>
<div class="container">
    <div class="row">
        <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
            <div class="row">
                <h1 class="center-align">Ajouter un Administrateur</h1>
                <div class="input-field col s6 offset-s3">
                    <input id="input_text" type="text" length="40" ng-model="vm.user.email">
                    <label for="input_text">E-mail</label>
                </div>
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="input_text" type="password" length="8" ng-model="vm.user.password">
                    <label for="input_text">Mot de passe</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large col s6 offset-s3" ng-click="vm.create2()">Enregistrer</a>
            </div>
        </form>
    </div>
