<div id="topFixed"></div>
<div class="container ">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                La charmille
            </h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <!--<img class="left responsive-img" src="../img/temp.png" alt="photo de l'hopital"/>
                        <h5 class="center-align">
                            <a href="#" class="vwtitle">La Charmille</a>
                        </h5>-->
                        <p id="cardtext" class="flow-text justify">
                            La Charmille est un Etablissement Public qui dépend du Centre Hospitalier de Nogent le Rotrou. Elle accueille en chambre individuelle ou en chambre double des couples, des personnes seules, hommes ou femmes, âgées d’au moins 60 ans valides ou
                            semi-valides.<br>
                            <br>
                            CONDITIONS D’ADMISSION <br>
                            <br>
                            La Charmille accueille les résidants à titre payant ou bénéficiaires de l’aide sociale avec possibilité d’allocation logement. <br>
                            <br>
                            L’admission est prononcée par le Directeur ou son représentant après présentation d’un dossier complet instruit par les
                            services administratifs et après avis de la commission d’admission.<br>
                            <br>
                            VOTRE INSTALLATION <br>
                            <br>
                            Cette maison est la vôtre ; Il s’agit de votre nouveau domicile. N’hésitez donc pas à le personnaliser en y ajoutant des tableaux, des photos et les petits objets personnels auxquels vous tenez. Dès votre arrivée, les personnels sont là pour vous
                            aider à bien vous adapter et favoriser des liens avec d’autres résidents. Faites leur part de vos souhaits et des difficultés que vous rencontrez. La vie est tellement plus agréable lorsque l’on partage ses souvenirs.<br>
                            <br>
                            ASSISTANCE DE VIE <br>
                            <br>
                            Les personnels sont présents nuit et jour. Ils sont là pour vous apporter toute l’aide et l’assistance nécessaires au lever, à la toilette, à l’habillage, à la prise des repas, aux déplacements et au coucher, répondre à vos appels et satisfaire vos
                            besoins. <br>
                            Afin de contribuer au maintien de votre autonomie, nous vous encourageons à accomplir autant que possible les gestes de la vie quotidienne. Dans votre chambre et dans les sanitaires, vous disposez d’une sonnette d’alarme, il suffit de tirer
                            le cordon pour provoquer l’intervention du personnel dans un délai que nous nous efforçons de rendre le plus court possible. <br>
                            Pendant la nuit, le personnel présent passe régulièrement dans les chambres en fonction des besoins de chacun et des appels
                            reçus.<br>
                            <br>
                            L’HOTELLERIE <br>
                            <br>
                            Le petit déjeuner vous est servi entre 7h30 et 8h45. Sa composition est celle que vous avez choisie. Si vous souhaitez la modifier, faitesen part au personnel du service.<br>
                            Le déjeuner est servi à partir de midi dans les salles à manger. Il est précédé d’un apéritif les jours fériés. Les menus sont affichés près des salles à manger. Un goûter est servi dans les salons et les salles d’animation. Pour les personnes qui ne peuvent se déplacer, il est servi dans la chambre. Le dîner débute à 18 heures.
                            La restauration est assurée par la cuisine centrale du Centre Hospitalier, nous prenons en compte tous les régimes et nous pouvons donc adapter votre alimentation à vos besoins. <br>
                            Votre linge personnel est pris tous les matins puis remis dans votre placard lavé et repassé dans les jours qui suivent. Le ménage de votre chambre est fait régulièrement par le personnel.<br>
                            <br>
                            LES SOINS <br>
                            <br>
                            Votre médecin traitant assure votre prise en charge en coordination avec les infirmières. Une infirmière est à votre disposition tous les jours, vous pouvez faire appel à elle à tout moment en cas de besoins. C’est elle qui, si nécessaire, appelle
                            votre médecin traitant, organise vos rendez-vous avec les spécialistes extérieurs ou ceux intervenants dans l’établissement. Les médicaments sont distribués par l’équipe soignante.<br>
                            <br>
                            LA VIE ET L’ANIMATION <br>
                            <br>
                            la Charmille, nous veillons à créer une grande convivialité et des conditions de vie les plus agréables possibles. Une animatrice intervient l’après-midi. Son rôle essentiel consiste à organiser et animer les différentes activités qui vous sont
                            proposées. Elle vous permet d’entretenir votre forme, votre mémoire… Des lotos ou autres jeux permettent de gagner des points qui vous permettront de choisir des cadeaux que vous pourrez offrir à vos enfants, petits-enfants et amis.<br>
                            Chaque mois un goûter animé permet à tous les résidents de fêter les anniversaires du mois précédent. Des spectacles sont également proposés périodiquement. Elle organise ponctuellement une séance de maquillage très appréciées des résidentes. Un
                            espace coiffure est à votre disposition, pour les rendez-vous renseignez-vous auprès du personnel.<br>
                            Votre Courrier : Une boite aux lettres est installée face à la salle de soins, le courrier est relevé vers 15 heures. Si vous déjeunez ou passez une journée à l’extérieur, informez-nous dès que vous le savez, afin que vos médicaments soient préparés
                            et que vous soyez apprêté en temps et en heure. Selon votre demande, vous pouvez recevoir la visite du ministre du culte de votre choix. Un service catholique est assuré dans l’établissement selon les horaires affichés.<br>
                            <br>
                            CONSIGNES DE SECURITE <br>
                            <br>
                            Le soir tous les accès des bâtiments sont fermés à clef (après les heures de visites conseillées) afin de préserver la quiétude et la sécurité des résidants. Il est exigé le respect des consignes affichées pour la sécurité incendie ainsi que diverses
                            interdictions d'utilisation d'appareils : • à carburants liquides, solides ou gazeux • électriques tels que chaufferettes, radiateurs, fers à repasser, couverture chauffante. Il est interdit d'effectuer des modifications sur les installations
                            existantes. Il est également interdit de fumer dans les locaux à usages collectifs et pour raisons de sécurité, il est fortement déconseillé de fumer dans les chambres. Tout manquement engagerait la responsabilité personnelle du résident et de ses
                            ayants droits.<br>
                            <br>
                            DEPÔT D’ARGENT ET DE VALEUR <br>
                            <br>
                            Le décret du 27 mars 1993, portant application de la loi du 6 juillet 1992 relative à la responsabilité du fait des vols, pertes et détériorations des objets déposés dans les établissements de santé et certains établissements sociaux ou
                            médico-sociaux, prévoit que : <br>
                            • L’Etablissement est responsable de plein droit du vol, de la perte ou de la détérioration des objets déposés par les résidents, entre les mains du trésorier ou d’un préposé commis à cet effet (la loi du 6 juillet 1992
                            précise les limites financières de cette responsabilité)<br>
                            • L’établissement n’est pas responsable du vol, de la perte ou de la détérioration des objets non déposés. <br>
                            En conséquence les résidents sont invités à effectuer : <br>
                            - auprès du receveur du Centre
                            Hospitalier ou du régisseur de recettes préposé dans l'établissement à cette fonction, les dépôts suivants : somme d’argent, titres ou valeurs mobilières, moyens de règlement, objet de valeur, etc... (les sommes et biens déposés ne seront plus
                            immédiatement disponibles) <br>
                            - auprès de l’administration de l’établissement : les autres objets.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
