<footer>
    <nav id="bottomNavbar">
        <div class="nav-wrapper" id="bottomBar">
            <ul class="left  textevue">
                <li>
                      Rue Edmond Morchoisne, 28240, La Loupe
                </li>
            </ul>
            <ul class="right textevue">
                <li>
                    <a href="contact.html" class="textevue">Contact</a>
                </li>
                <li>
                    <a href="#" class="textevue">Marché</a>
                </li>
                <li>
                    <a href="#" class="textevue">Plan du Site</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">

            <p class="footerp center-align">
                <a class="" href="mentionslegales.html">Mentions Légales
                </a>
                -
                <a class="waves-effect waves-light modal-trigger" href="#modal1">Crédit</a>
                <br>
                © 2016 CENTRE HOSPITALIER LA LOUPE - TOUS DROITS RÉSERVÉS
                <br>
                Le site a été réalisé par des élèves de l'école
                <a class="" href="http://www.wildcodeschool.fr/">Wild Code School
                </a>
            </p>
        </div>
        <div class="col s12 m4 l2">
            <p class="right-align">
                <a href="http://facebook.com/"><img class="facebook" src="assets/img/facebook.png" alt="Facebook"/></a>
            </p>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="header center-align">Crédit</h4>
            <br>
            <div class="row">
                <div class="col s4">
                    <a href="https://fr.linkedin.com/in/adrien-floor-23b9bb129"><img src="assets/img/adrienfloor.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4 >Adrien Floor</h4>
                <a class="" href="https://fr.linkedin.com/in/adrien-floor-23b9bb129"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/adrienfloor"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>

            </div>

            <div class="row">
                <div class="col s4">
                    <a href="https://fr.linkedin.com/in/benjamin-hoeffler-49ba01128"><img src="assets/img/benjaminhoeffler.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4>Benjamin Hoeffler</h4>
                <a class="" href="https://fr.linkedin.com/in/benjamin-hoeffler-49ba01128"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/theben67"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>
            </div>

            <div class="row">
                <div class="col s4">
                    <a href="https://fr.linkedin.com/in/camfontaine"><img src="assets/img/camillefontaine.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4>Camille Fontaine</h4>
                <a class="" href="https://fr.linkedin.com/in/camfontaine"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/CamJr"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>
            </div>

            <div class="row">
                <div class="col s4">
                    <a href="https://fr.linkedin.com/in/guillaume-guesnet-522a22122"><img src="assets/img/guillaumeguesnet.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4>Guillaume Guesnet</h4>
                <a class="" href="https://fr.linkedin.com/in/guillaume-guesnet-522a22122"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/gguesnet"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>
            </div>

            <div class="row">
                <div class="col s4">
                    <a href="https://fr.linkedin.com/in/kevin-poyer-6b7589ba"><img src="assets/img/kevinpoyer.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4>Kevin Poyer</h4>
                <a class="" href="https://fr.linkedin.com/in/kevin-poyer-6b7589ba"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/MrDrannoc"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>
            </div>

            <div class="row">
                <div class="col s4">
                    <a href=""><img src="assets/img/stephanesenocq.jpg" alt="" class="circle responsive-img"></a>
                </div>
                <h4>Stephane Senocq</h4>
                <a class="" href="https://fr.linkedin.com/in/camfontaine"><img class="facebook" src="assets/img/linkedin.png" alt="Facebook"/></a>
                <a class="" href="https://github.com/stephsen"><img class="facebook" src="assets/img/github.png" alt="Facebook"/></a>
            </div>
        </div>
    </div>
</footer>
