<div id="topFixed"></div>
<div>
    <div class="row row-slider">
        <div class="slider col s12">
            <div class="caption center-align titlepres">
                <div class="message">
                    <!-- <h1 id="mainTitle">Bienvenue au Centre Hospitalier de
                        <br>Nogent-le-Rotrou</h1> -->
                </div>

            </div>
            <ul class="slides">
                <li>
                    <img src="../assets/img/photo1.jpg">
                    <!-- random image -->
                </li>
                <li>
                    <img src="../assets/img/photo4.jpg">
                    <!-- random image -->
                </li>
            </ul>
        </div>
    </div>
    <div class="row col l3 m12 group-btn">
        <div class="cont-btn col l3 m6 s12">
            <a class="btn consult cont-btn-green sliderbtn waves-effect" ng-click='vm.toggleConsultation()'>
                <i class="material-icons iconButton">insert_invitation</i><br class="mainRall">
                <span>J'ai un rendez-vous</span>
            </a>
        </div>
        <div class="cont-btn col l3 m6 s12">
            <a class="btn cont-btn-violet sliderbtn waves-effect" ng-click='vm.toggleHospitalise()'>
                <i class="material-icons iconButton">local_hospital</i><br class="mainRall">
                <span>Je vais être hospitalisé</span>
            </a>
        </div>
        <div class="cont-btn col l3 m6 s12">
            <a class="btn cont-btn-orange sliderbtn waves-effect" ng-click='vm.toggleEhpad()'>
                <i class="material-icons iconButton">home</i><br class="mainRall">
                <span>Je vais entrer en EHPAD</span>
            </a>
        </div>
        <div class="cont-btn col l3 m6 s12">
            <a class="btn cont-btn-blue sliderbtn waves-effect" ng-click='vm.togglePatient()'>
                <i class="material-icons iconButton">transfer_within_a_station</i><br class="mainRall">
                <span>Je vais voir un patient</span>
            </a>
        </div>
    </div>
    <!--div ng-show "j'ai un rendez-vous"-->
    <div class="container-fluid sub-menu-consultation" id="scroll1">
        <div ng-show='vm.isLoad'>
            <div class="row consults">
                <div class="blocconsultation">
                    <div class="col s12 m4 l4" ng-show="vm.btn1.title1.length > 0 || vm.btn1.texte1.length > 0">
                        <div class="card cardconsults green">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn1.title1}}</h6>
                                <p class="rdv1">
                                    <div ng-bind-html='vm.btn1.texte1'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4" ng-show="vm.btn1.title2.length > 0 || vm.btn1.texte2.length > 0">
                        <div class="card cardconsults green">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn1.title2}}</h6>
                                <p class="rdv2">
                                    <div ng-bind-html='vm.btn1.texte2'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4" ng-show="vm.btn1.title3.length > 0 || vm.btn1.texte3.length > 0">
                        <div class="card cardconsults green">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn1.title3}}</h6>
                                <p class="rdv3">
                                    <div ng-bind-html='vm.btn1.texte3'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div ng-show "je vais etre hospitalisé"-->
    <div class="container-fluid sub-menu-hospitalise" id="scroll2">
        <div ng-show='vm.isLoad1'>
            <div class="row hospitalise">
                <div class="blochospitalise">
                    <div class="col s12 m4 l4" ng-show="vm.btn2.title1.length > 0 || vm.btn2.texte1.length > 0">
                        <div class="card cardconsults purple lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn2.title1}}</h6>
                                <p class="hosp1">
                                      <div ng-bind-html='vm.btn2.texte1'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4" ng-show="vm.btn2.title2.length > 0 || vm.btn2.texte2.length > 0">
                        <div class="card cardconsults purple lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn2.title2}}</h6>
                                <p class="hosp2">
                                    <div ng-bind-html='vm.btn2.texte2'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="card cardconsults purple lighten-1" ng-show="vm.btn2.title3.length > 0 || vm.btn2.texte3.length > 0">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn2.title3}}</h6>
                                <p class="hosp3">
                                    <div ng-bind-html='vm.btn2.texte3'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div ng-show "je vais entrer en ehpad"-->
    <div class="container-fluid sub-menu-ehpad" id="scroll3">
        <div ng-show='vm.isLoad2'>
            <div class="row ehpad">
                <div class="blocehpad">
                    <div class="col s12 m6 l3" ng-show="vm.btn3.title1.length > 0 || vm.btn3.texte1.length > 0">
                        <div class="card cardconsults orange lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn3.title1}}</h6>
                                <p class="ehpad1">
                                    <div ng-bind-html='vm.btn3.texte1'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3" ng-show="vm.btn3.title2.length > 0 || vm.btn3.texte2.length > 0">
                        <div class="card cardconsults orange lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn3.title2}}</h6>
                                <p class="ehpad2">
                                    <div ng-bind-html='vm.btn3.texte2'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3" ng-show="vm.btn3.title3.length > 0 || vm.btn3.texte3.length > 0">
                        <div class="card cardconsults orange lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn3.title3}}</h6>
                                <p class="ehpad3">
                                    <div ng-bind-html='vm.btn3.texte3'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3" ng-show="vm.btn3.title4.length > 0 || vm.btn3.texte4.length > 0">
                        <div class="card cardconsults orange lighten-1">
                            <div class="card-content text white-text">
                                <h6 class="black-text flow-text">{{vm.btn3.title4}}</h6>
                                <p class="ehpad4">
                                    <div ng-bind-html='vm.btn3.texte4'></div>
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div ng-show "je vais voir un patient"-->
    <div class="container-fluid sub-menu-patient" id="scroll4">
        <div ng-show='vm.isLoad3'>
            <div class="row patient">
                <div class="blocpatient">
                    <div class="col s12 m4 l4" ng-show="vm.btn4.title1.length > 0 || vm.btn4.texte1.length > 0">
                        <div class="card cardconsults teal lighten-1">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn4.title1}}</h6>
                                  <p class="visiter1">
                                      <div ng-bind-html='vm.btn4.texte1'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4" ng-show="vm.btn4.title2.length > 0 || vm.btn4.texte2.length > 0">
                        <div class="card cardconsults teal lighten-1">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn4.title2}}</h6>
                                <p class= "visiter2">
                                      <div ng-bind-html='vm.btn4.texte2'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4" ng-show="vm.btn4.title3.length > 0 || vm.btn4.texte3.length > 0">
                        <div class="card cardconsults teal lighten-1">
                            <div class="card-content white-text">
                                <h6 class="black-text flow-text">{{vm.btn4.title3}}</h6>
                                <p class= "visiter2">
                                      <div ng-bind-html='vm.btn4.texte3'></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Fin Slider -->

        <!-- Début Description -->
        <div class="container textevue presentation">
            <div class="col s12 m7 textevue">
                <h2 class="header center-align textevue">Centre Hospitalier de Nogent-le-Rotrou</h2>
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="flow-text center-align textevue">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fin Description -->

        <!-- Slider Stats -->
        <div ng-controller='statController as vm'>
            <div class="container white-text center-align" id="stats">
                <div id="slider2" class="carousel textevue">
                    <h2 id="carouselh2">Le centre hospitalier en quelques chiffres</h2>
                    <a class="carousel-item" href="#one!">
                        <i class="large material-icons white-text">tag_faces</i>
                        <p class="white-text textevue">{{vm.stats.texte1}}</p>
                    </a>
                    <a class="carousel-item" href="#two!!">
                        <i class="large material-icons white-text">home</i>
                        <p class="white-text textevue">{{vm.stats.texte2}}
                        </p>
                    </a>
                    <a class="carousel-item" href="#three!">
                        <i class="large material-icons white-text">hotel</i>
                        <p class="white-text textevue">{{vm.stats.texte3}}</p>
                    </a>
                    <a class="carousel-item" href="#five!">
                        <i class="large material-icons white-text">local_hospital</i>
                        <p class="white-text textevue">{{vm.stats.texte4}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
