<div id="topFixed"></div>
<div  ng-controller='mainController as vm'>
<div class="slider">
  <div class="caption center-align titlepres">
    <div class="message">
      <h3 class="welcome">Bienvenue</h3>
      <h5 class="text-lighten-3 hospitalName">au Centre Hospitalier de Nogent-le-Rotrou</h5>
    </div>

  </div>
    <ul class="slides">
      <li>
        <img src="../assets/img/photo1.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="../assets/img/photo2.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="../assets/img/photo3.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>
  <div class="row col l3 m12 group-btn">
    <div class="cont-btn col l3 m6 s12">
      <a class="btn consult cont-btn-green waves-effect" ng-click='vm.toggleConsultation()'><i class="material-icons iconButton">insert_invitation</i></br><span>J'ai un rendez-vous</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-violet waves-effect"><i class="material-icons iconButton">local_hospital</i></br><span>Je vais être hospitalisé</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-orange waves-effect"><i class="material-icons iconButton">local_hotel</i></br><span>Je vais entrer en EHPAD</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-blue waves-effect"><i class="material-icons iconButton">transfer_within_a_station</i></br><span>Je vais voir un patient</span></a>
    </div>
  </div>
  <div class="container-fluid sub-menu-consultation">
    <div ng-show='vm.isLoad'>
        <div class="row col s12 m4 l3">
            <div class="blocconsultation">
              <div id="consultation">
                  <a href="#">Consultations spécialisées</a>
                    <ul>
                      <li><a href="#">Vasculaire</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a href="#">Chirurgie de la Main</a></li>
                      <li><a href="#">O.R. L</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Viscéral</a></li>
                      <li><a href="#">Ophtalmologie</a></li>
                      <li><a href="#">Anesthésie</a></li>
                      <li><a href="#">Néphrologie</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Cardiologie</a></li>
                      <li><a href="#">Endocrinologie</a></li>
                      <li><a href="#">Neurologie</a></li>
                      <li><a href="#">Stomatologie</a></li>
                    </ul>
              </div>
              <div id="imagerie">
                <a href="#">Imagerie</a>
                <ul>
                  <li><a href="#">Imagerie</a></>
                </ul>
              </div>
              <div id="perinatal">
                <a href="#">Centre périnatal de proximité</a>
                <ul>
                  <li><a href="#">Centre périnatal de proximité</a></li>
                </ul>
              </div>
          </div>
        </div>
    </div>

  </div>
<!-- Fin Slider -->

<!-- Début Description -->
<div class="container textevue presentation">
    <div class="col s12 m7 textevue">
        <h2 class="header center-align textevue">Centre Hospitalier de Nogent-le-Rotrou</h2>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p class="flow-text center-align textevue">
                        Madame, Mademoiselle, Monsieur,
                        <br>
                        Vous entrez au Centre Hospitalier de Nogent-le-Rotrou. Soyez assuré que tout sera mis en oeuvre pour que votre séjour se passe dans les meilleures conditions.
                        <br>
                        Le personnel de l'hôpital sera à vos côtés, disponible et attentif à vos demandes. Il mettra en oeuvre toutes ses compétences et son expérience pour que votre séjour soit le plus agréable possible.
                        <br>
                        Que votre séjour soit le plus confortable possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin Description -->

<!-- Slider Stats -->

<div class="container white-text center-align" id="stats">
    <div id="slider2" class="carousel textevue">
        <h1>Le centre hospitalier en quelques chiffres</h1>
        <a class="carousel-item" href="#one!">
            <i class="large material-icons white-text">tag_faces</i>
            <p class="white-text textevue">200 professionnels disponibles</p>
        </a>
        <a class="carousel-item" href="#two!!">
            <i class="large material-icons white-text">insert_chart</i>
            <p class="white-text textevue">A.H.P.A.D : taux d'occuptaion 99.05%
            </p>
        </a>
        <a class="carousel-item" href="#three!">
            <i class="large material-icons white-text">hotel</i>
            <p class="white-text textevue">223 lits</p>
        </a>
        <a class="carousel-item" href="#four!">
            <i class="large material-icons white-text">insert_chart</i>
            <p class="white-text textevue">S.S.I.A.D : taux d'occuptaion 94.13%
            </p>
        </a>
        <a class="carousel-item" href="#five!">
            <i class="large material-icons white-text">enhanced_encryption</i>
            <p class="white-text textevue">Hospitalisation 2015 : 392
            </p>
        </a>
    </div>
</div>
</div>
<hr>
