<div ng-controller='navbarController as vm' id="urgencies">
    <div ng-show='vm.isToggled'>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card red darken-1 darken-1">
                        <div class="card-content white-text">
                            <span class="card-title black-text center-align">CH DE NOGENT-LE-ROTROU</span>
                            <p>Vous trouverez ci-dessous les coordonnées et adresse du service d'urgences de Nogent-Le-Rotrou.</p><br/>

                            <a class="white-text" href="tel:+33237537575">
                                <i class="material-icons left">phone</i>Téléphone = 02.37.53.75.75
                            </a><br><br>
                            <a
                                class="white-text"
                                href="https://www.google.fr/maps/place/Centre+Hospitalier/@48.3157373,0.8364868,17z/data=!4m8!1m2!2m1!1scentre+hospitalier+de+nogent-le-rotrou+Avenue+de+l_Europe+BP+40+169+28400+NOGENT-LE-ROTROU!3m4!1s0x0:0x9019c748d70cb839!8m2!3d48.31581!4d0.8383492"
                                target="_blank">
                                <i class="material-icons left">location_on</i>
                                Adresse = Avenue de l'Europe 28400 NOGENT-LE-ROTROU</a>

                        </div>
                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="card red darken-1 darken-1">
                        <div class="card-content white-text">
                            <span class="card-title black-text center-align">EN CAS D'URGENCE</span>
                            <p>Vous trouverez ci-dessous les numéros utiles.</p><br/>

                            <a class="white-text" href="tel:15">
                                <i class="material-icons left">phone</i>
                                Samu = 15
                            </a><br/><br/>
                            <a class="white-text" href="tel:18">
                                <i class="material-icons left">phone</i>
                                Pompiers = 18
                            </a><br/><br/>
                            <a class="white-text" href="tel:+33241482121">
                                <i class="material-icons left">phone</i>
                                Centre Anti-Poison = 02.41.48.21.21
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav-wrapper" id="scrollspy">

            <ul class="left textevue">
                <li class="phone textevue">
                    <a>
                        <i class="material-icons phoneIcon left">call</i>
                        02.37.53.75.75</a>
                </li>
                <li>
                    <a class="modal-trigger1 bolder" href="#modal1">Accessibilité</a>
                </li>
            </ul>
            <ul class="right textevue">
                <li>
                    <a class="btn-urgence textevue" ng-click='vm.toggleEmergencies()'>
                        <i class="material-icons left">airport_shuttle</i>Urgences</a>
                </li>
                <!--<li>
                    <a href="#" class="textevue">Recrutement</a>
                </li>-->
                <li>
                    <a href="/#/contact" class="textevue">Contact</a>
                </li>
                <li></li>
            </ul>
        </div>
    </nav>

</div>
<!-- Fin premier Menu Navigation -->

<!-- Début Modal Accessibilité -->

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">

        <h4>Accessibilité</h4>
        <p>Vous avez la possibilité de modifier la taille d'affichage du contenu du site grâce à votre navigateur. Pour changer la taille des caractères en fonction de votre besoin, suivez les instructions suivantes :</p>

        <ul class="collection with-header">
            <li class="collection-item card-panel grey lighten-5 z-depth-1">
                <div>
                    <blockquote>
                        <i class="medium material-icons">zoom_in</i>

                        Augmenter les caractères.

                        <kbd class="secondary-content">
                            CTRL + +
                        </kbd>
                    </blockquote>
                </div>
            </li>

            <li class="collection-item card-panel grey lighten-5 z-depth-1">
                <div>
                    <blockquote>
                        <i class="medium material-icons">zoom_out</i>

                        Réduire les caractères.

                        <kbd class="secondary-content">
                            CTRL + -
                        </kbd>
                    </blockquote>
                </div>
            </li>

            <li class="collection-item card-panel grey lighten-5 z-depth-1">
                <div>
                    <blockquote>
                        <i class="medium material-icons">search</i>
                        Caractères par défaut.
                        <kbd class="secondary-content">
                            CTRL + 0
                        </kbd>
                    </blockquote>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<!-- Fin Modal Accessibilité -->

<!-- Début deuxieme Menu Navigation -->

<div id="push">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li>
            <a href="/#/ehpad">E.H.P.A.D (La Charmille)</a>
        </li>
        <!--<li>
                <a href="#!">Médecine</a>
            </li>
            <li>
                <a href="#!">Soins palliatifs</a>
            </li>
            <li>
                <a href="#!">Soins de Suite et réadaptation</a>
            </li>
            <li>
                <a href="#!">Soins de Longue durée</a>
            </li>
            <li>
                <a href="#!">Centre d'Accueil de Jour Heizeimer</a>
            </li>
            <li>
                <a href="#!">SSIAD</a>
            </li>
            <li>
                <a href="#!">Rééducation</a>
            </li>
            <li>
                <a href="#!">Autres intervenants</a>
            </li>-->
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li>
            <a href="/#/ehpad">E.H.P.A.D (La Charmille)</a>
        </li>
        <!--<li>
                <a href="#!">Médecine</a>
            </li>
            <li>
                <a href="#!">Soins palliatifs</a>
            </li>
            <li>
                <a href="#!">Soins de Suite et réadaptation</a>
            </li>
            <li>
                <a href="#!">Soins de Longue durée</a>
            </li>
            <li>
                <a href="#!">Centre d'Accueil de Jour Heizeimer</a>
            </li>
            <li>
                <a href="#!">SSIAD</a>
            </li>
            <li>
                <a href="#!">Rééducation</a>
            </li>
            <li>
                <a href="#!">Autres intervenants</a>
            </li>-->
    </ul>
    <nav>
        <div id="navbardeux" class="nav-wrapper textevue">
            <a href="/#/" class="brand-logo left" id="logo"><img src="assets/img/logo.png" alt=""/>
                <span class="darklink">Centre Hospitalier de Nogent-le-Rotrou</span>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse darklink">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down textevue">
                <li>
                    <a class="darklink textevue" href="/#/">Accueil</a>
                </li>
                <li>
                    <!-- Dropdown Trigger -->
                    <a id="dropservice" class="dropdown-button textevue" data-beloworigin="true" href="#!" data-activates="dropdown2">
                        <i class="material-icons right arrowdropdown">arrow_drop_down</i>
                        <strong>Nos services</strong>
                    </a>
                </li>
                <li>
                    <a class="darklink textevue" href="badges.html">À propos</a>
                </li>
            </ul>
            <ul class="side-nav flow-text mobmenu" id="mobile-demo">
                <li>
                    <a class="darklink textevue" href="/#/">Accueil</a>
                </li>
                <li>
                    <a class="darklink" href="mobile.html">
                        <strong>Nos services</strong>
                    </a>
                </li>
                <li>
                    <a class="darklink textevue" href="badges.html">À propos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
