<nav>
<div class="nav-wrapper" id="scrollspy">

          <ul class="left textevue">
              <li class="phone textevue">
                  <a href="#">
                      <i class="material-icons phoneIcon left">call</i>
                      02 37 29 33 11</a>
              </li>
              <li>
                  <a href="#/" class="zoom hide-on-small-only">A</a>
              </li>
              <li>></li>
              <li>
                  <a href="#/" class="normal hide-on-small-only">A</a>
              </li>
          </ul>
          <ul class="right textevue">
              <li>
                  <a href="#" class="textevue">Urgence</a>
              </li>
              <li>
                  <a href="#" class="textevue">Recrutement</a>
              </li>
              <li>
                  <a href="#" class="textevue">Presse</a>
              </li>
              <li></li>
          </ul>
      </div>
  </nav>

  <!-- Fin premier Menu Navigation -->

  <!-- Début deuxieme Menu Navigation -->

  <div id="push">
      <nav>
          <div id="navbardeux" class="nav-wrapper textevue">
              <a href="index.html" class="brand-logo left" id="logo"><img src="assets/img/logo.gif" alt=""/>
                  <span class="darklink">Centre hospitalier de La Loupe</span>
              </a>
              <a href="#" data-activates="mobile-demo" class="button-collapse darklink">
                  <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down textevue">
                  <li>
                      <a class="darklink textevue" href="index.html">Accueil</a>
                  </li>
                  <li>
                      <a class="darklink textevue" href="badges.html">À propos</a>
                  </li>
                  <li>
                      <a class="darklink textevue" href="collapsible.html">Actualités</a>
                  </li>
                  <li>
                      <a class="darklink textevue" href="mobile.html">Nos services</a>
                  </li>
              </ul>
              <ul class="side-nav flow-text mobmenu" id="mobile-demo">
                  <li>
                      <a class="darklink textevue" href="index.html">Accueil</a>
                  </li>
                  <li>
                      <a class="darklink textevue" href="badges.html">À propos</a>
                  </li>
                  <li>
                      <a class="darklink textevue" href="collapsible.html">Actualités</a>
                  </li>
                  <li>
                      <a class="darklink" href="mobile.html">Nos services</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
