<div ng-controller='navbarController as vm'>

    <div id="urgencies">
        <div ng-show='vm.isToggled'>
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card red darken-1 darken-1">
                            <div class="card-content text white-text">
                                <span class="card-title black-text center-align">CH DE NOGENT-LE-ROTROU</span>
                                <p>Vous trouverez ci-dessous les coordonnées et adresse du service d'urgences de Nogent-Le-Rotrou.</p><br/>

                                <a class="white-text" href="tel:+33237537575">
                                    <i class="material-icons left">phone</i>Téléphone = 02.37.53.75.75
                                </a><br><br>
                                <a
                                    class="white-text"
                                    href="https://www.google.fr/maps/place/Centre+Hospitalier/@48.3157373,0.8364868,17z/data=!4m8!1m2!2m1!1scentre+hospitalier+de+nogent-le-rotrou+Avenue+de+l_Europe+BP+40+169+28400+NOGENT-LE-ROTROU!3m4!1s0x0:0x9019c748d70cb839!8m2!3d48.31581!4d0.8383492"
                                    target="_blank">
                                    <i class="material-icons left">location_on</i>
                                    Adresse = Avenue de l'Europe 28400 NOGENT-LE-ROTROU</a>

                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card red darken-1 darken-1">
                            <div class="card-content text white-text">
                                <span class="card-title black-text center-align">EN CAS D'URGENCE</span>
                                <p>Vous trouverez ci-dessous les numéros utiles.</p><br/>

                                <a class="white-text" href="tel:15">
                                    <i class="material-icons left">phone</i>
                                    Samu = 15
                                </a><br/><br/>
                                <a class="white-text" href="tel:18">
                                    <i class="material-icons left">phone</i>
                                    Pompiers = 18
                                </a><br/><br/>
                                <a class="white-text" href="tel:+33241482121">
                                    <i class="material-icons left">phone</i>
                                    Centre Anti-Poison = 02.41.48.21.21
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="nav-wrapper" id="scrollspy">

                <ul class="left">
                    <li class="phone">
                        <a href="tel:+33237537575">
                            <i class="material-icons phoneIcon left">call</i><span id="numHospital">
                            02.37.53.75.75</span></a>
                    </li>
                    <li>
                        <a class="modal-trigger1 bolder" href="#modal1">Accessibilité</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a class="btn-urgence " ng-click='vm.toggleEmergencies()'>
                            <i class="material-icons left">airport_shuttle</i>Urgences</a>
                    </li>
                    <!--<li>
                    <a href="#" class="">Recrutement</a>
                </li>-->
                    <li>
                        <a href="/#/contact">Contact</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </nav>

    </div>
    <!-- Fin premier Menu Navigation -->

    <!-- Début Modal Accessibilité -->

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">

            <h4>Accessibilité</h4>
            <p>Vous avez la possibilité de modifier la taille d'affichage du contenu du site grâce à votre navigateur. Pour changer la taille des caractères en fonction de votre besoin, suivez les instructions suivantes :</p>

            <ul class="collection with-header">
                <li class="collection-item card-panel grey lighten-5 z-depth-1">
                    <div>
                        <blockquote>
                            <i class="medium material-icons">zoom_in</i>

                            Augmenter les caractères.

                            <kbd class="secondary-content">
                            <span class="ctrl">CTRL </span> <span class="plus"> + </span><span class="ctrl"> + </span>
                            </kbd>
                        </blockquote>
                    </div>
                </li>

                <li class="collection-item card-panel grey lighten-5 z-depth-1">
                    <div>
                        <blockquote>
                            <i class="medium material-icons">zoom_out</i>

                            Réduire les caractères.

                            <kbd class="secondary-content">
                            <span class="ctrl">CTRL </span> <span class="plus"> + </span><span class="ctrl"> - </span>
                            </kbd>
                        </blockquote>
                    </div>
                </li>

                <li class="collection-item card-panel grey lighten-5 z-depth-1">
                    <div>
                        <blockquote>
                            <i class="medium material-icons">search</i>
                            Caractères par défaut.
                            <kbd class="secondary-content">
                            <span class="ctrl">CTRL </span> <span class="plus"> + </span><span class="ctrl"> 0 </span>
                            </kbd>
                        </blockquote>
                    </div>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <!-- Fin Modal Accessibilité -->

    <!-- Début deuxieme Menu Navigation -->
    <div id="push">
        <ul id="dropdown1" class="dropdown-content">
            <li ng-repeat='categorie in vm.categories'>
                <a href="/#/service/{{categorie._id}}">{{categorie.titre}}</a>
            </li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li ng-repeat='categorie in vm.categories'>
                <a href="/#/service/{{categorie._id}}">{{categorie.titre}}</a>
            </li>
        </ul>
        <nav>
            <div id="navbardeux" class="nav-wrapper">
                <a href="/#/" class="brand-logo left" id="logo"><img src="assets/img/logo.png" alt=""/></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse darklink"><i class="material-icons">menu</i></a>
                <span id="menuTitle" class="darklink">Centre Hospitalier de Nogent-le-Rotrou</span>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="darklink" href="/#/">Accueil</a>
                    </li>
                    <li>
                        <!-- Dropdown Trigger -->
                        <a id="dropservice" class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown2">
                            <i class="material-icons right arrowdropdown">arrow_drop_down</i>
                            <strong>Nos services</strong>
                        </a>
                    </li>
                    <li>
                        <a class="darklink" href="/#/actualite">Actualités</a>
                    </li>
                    <li>
                        <a class="darklink" href="/#/apropos">À propos</a>
                    </li>
                </ul>
                <ul class="side-nav flow-text mobmenu" id="mobile-demo">
                    <li>
                        <a class="darklink" href="/#/">Accueil</a>
                    </li>
                    <li>
                        <a class="dropdown-button " data-beloworigin="true" href="#!" data-activates="dropdown1">
                            <strong>Nos services</strong>
                        </a>
                    </li>
                    <li>
                        <a class="darklink" href="/#/actualite">Actualités</a>
                    </li>
                    <li>
                        <a class="darklink" href="/#/apropos">À propos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>
