



<div class="container">
  <div class="row col s8">
    <div class="row col s10 offset-s1">
      <a href="#">a</a>
      <span class="alpha">-</span>
      <a href="#">b</a>
      <span class="alpha">-</span>
      <a href="#">c</a>
      <span class="alpha">-</span>
      <a href="#">d</a>
      <span class="alpha">-</span>
      <a href="#">e</a>
      <span class="alpha">-</span>
      <a href="#">f</a>
      <span class="alpha">-</span>
      <a href="#">g</a>
      <span class="alpha">-</span>
      <a href="#">h</a>
      <span class="alpha">-</span>
      <a href="#">i</a>
      <span class="alpha">-</span>
      <a href="#">j</a>
      <span class="alpha">-</span>
      <a href="#">k</a>
      <span class="alpha">-</span>
      <a href="#">l</a>
      <span class="alpha">-</span>
      <a href="#">m</a>
      <span class="alpha">-</span>
      <a href="#">n</a>
      <span class="alpha">-</span>
      <a href="#">o</a>
      <span class="alpha">-</span>
      <a href="#">p</a>
      <span class="alpha">-</span>
      <a href="#">q</a>
      <span class="alpha">-</span>
      <a href="#">r</a>
      <span class="alpha">-</span>
      <a href="#">s</a>
      <span class="alpha">-</span>
      <a href="#">t</a>
      <span class="alpha">-</span>
      <a href="#">u</a>
      <span class="alpha">-</span>
      <a href="#">v</a>
      <span class="alpha">-</span>
      <a href="#">w</a>
      <span class="alpha">-</span>
      <a href="#">x</a>
      <span class="alpha">-</span>
      <a href="#">y</a>
      <span class="alpha">-</span>
      <a href="#">z</a>
    </div>
  </div>
<div class="row col s8  ">
<ul class="collection">
  <li class="collection-item avatar annu">
        <i class="material-icons circle green">insert_chart</i>
    <span class="title">Adrien ANAKIN</span>
    <p>Chirurgien <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle pink">insert_chart</i>
    <span class="title">Antoinette ARNOLD</span>
    <p>Medecin généraliste <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Arnaud AMDOULA</span>
    <p>O.R.L <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Alexis ARBRE</span>
    <p>Psycologue <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Alexis ARBRE</span>
    <p>Psycologue <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Alexis ARBRE</span>
    <p>Psycologue <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Alexis ARBRE</span>
    <p>Psycologue <br>
       0123456789
    </p>
  </li>
  <li class="collection-item avatar annu">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Alexis ARBRE</span>
    <p>Psycologue <br>
       0123456789
    </p>
  </li>
</ul>
</div>
</div>
