



<div class="container">
  <div class="row col s8">
    <h4 style="text-align:center;color:red">Rechercher un praticien</h4>
    <label> <input placeholder="Nom,prenom ou spécialité du praticien" ng-model="searchText" style="width:30%;margin-left:35%"></label>
  </div>
<div class="row">
  <div class="col s3 offset-s1 panel panel-default" ng-repeat='annuaire in vm.annuaires | filter:searchText | orderBy:"+annuaire"'>
      <div class="panel-body">
          <form class="form-inline">
              <div class="form-group">
                  <i class="large material-icons">contact_phone</i>
                  <p>Nom : {{annuaire.nom}}</p>
                  <p>Spécialité : {{annuaire.fonction}}</p>
                  <p>Numero : {{annuaire.telephone}}</p>
              </div>
              <br>
              <hr/>
          </form>
      </div>
  </div>

</div>
</div>
