<div id="topFixed"></div>
<div class="container ">
    <div class="row" id="categorieHeight">
        <div class="col s12 m12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                {{vm.actualites.titre}}
            </h4>

            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p id="cardtext" class="flow-text justify" ng-bind-html="vm.actualites.texte"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
