

<div class="container textevue presentation">
    <div class="col s12 m7 textevue">
        <h2 class="header center-align textevue">{{vm.actualites.titre}}</h2>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p class="flow-text center-align textevue">
                      <div ng-bind-html='vm.actualites.texte'></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
