<div id="topFixed"></div>
<div class="container ">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                {{ vm.categorie.titre }}
            </h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <img class="left responsive-img" ng-src="{{ vm.categorie.photo }}" alt="photo de l'hopital"/>
                        <p id="cardtext" class="flow-text justify">{{ vm.categorie.texte }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
