<div id="topFixed"></div>
<div class="container-fluid">
    <div class="row categorietemplate" id="categorieHeight">
        <div class="col s12 m9">
            <h4 class="header center-align">
                {{ vm.categorie.titre }}
            </h4>
            <div class="card horizontal" id="categorieHeight">
                <div class="card-stacked">
                    <div class="card-content sidenav">
                        <div ng-show="vm.categorie.position == 2"class="container-fluid responsive-img" id="imgCatCenter" style="background-image:url({{ vm.categorie.photoFull }});background-size:cover"></div>
                        <img ng-show="vm.categorie.position == 3" class="left responsive-img" ng-src="{{ vm.categorie.photo }}" alt="photo de l'hopital"/>
                        <img ng-show="vm.categorie.position == 1" class="right responsive-img" ng-src="{{ vm.categorie.photo }}" alt="photo de l'hopital"/>
                        <p id="cardtext" class="flow-text justify">
                            <div ng-bind-html='vm.categorie.texte'></div>
                        </p>
                        <a href="{{ vm.categorie.lien }}" class="vwtitle" target="_blank" ng-hide='vm.categorie.texte'>{{ vm.categorie.lien }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3  sidbar">
            <div class="card-stacked" id="sidenavservices">
                <div class="card-content flow-text justify">
                    <div>
                        <i class="material-icons">subject</i>
                        <span class="tilesidenavbar">Navigation</span>
                    </div>
                    <ul>
                        <li ng-show='vm.categorieParent'>
                            <a class="section scrollspy" href="/#/service/{{vm.categorieParent._id}}">{{vm.categorieParent.titre}}</a>
                        </li>
                        <li ng-repeat='categorie in vm.categoriesEnfant'>
                            <a ng-show="categorie.texte" class="section scrollspy" href="/#/service/{{categorie._id}}">{{categorie.titre}}</a>
                            <a ng-show="categorie.lien" target="_blank" class="section scrollspy" href="{{categorie.lien}}">{{categorie.titre}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
