<div id="topFixed"></div>
<div class="container ">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                La charmille
            </h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <img class="left responsive-img" ng-src="{{ categorie.photo }}" alt="photo de l'hopital"/>
                        <h5 class="center-align">
                            <a href="#" class="vwtitle">{{ categorie.titre }}</a>
                        </h5>
                        <p id="cardtext" class="flow-text justify">{{ categorie.texte }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
