<!-- View -->

<div class="row">
    <div class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Je vais voir un patient</h1>
            <div class="row">
                <div class="col s12 m4 l4 visiter1">
                    <h5>Titre 1 :<input type="text" ng-model='vm.btn4.title1'></h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.btn4.texte1'></textarea>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4 visiter2">
                    <h5>Titre 2 :<input type="text" ng-model='vm.btn4.title2'></h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.btn4.texte2'></textarea>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4 visiter3">
                    <h5>Titre 3 :<input type="text" ng-model='vm.btn4.title3'></h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.btn4.texte3'></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l2 offset-l9">
                    <button ng-click='vm.create()' class="btn btn-default right" onclick="Materialize.toast('Contenu ajouté avec succès !', 4000, 'rounded')">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin Modal -->

<!-- Fin View-->
