/* Urgencies */

#urgencies {
    background-color: rgb(216, 8, 8);
}


/* Menu sous bouton */

.blocconsultation {
    display: flex;
    width: 100%;
}

.blocconsultation #consultation {
    display: flex;
}

#consultation, #imagerie, #perinatal {
    width: 30%;
}

.annu {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
    margin-bottom: 50px;
}

.alpha {
    margin-left: 0.3em;
    margin-right: 0.3em;
}


/* First navbar */

.phone a {
    font-size: 1.7em;
}

.access {
    width: 30px;
}

#separator {
    width: 15px;
}

#scrollspy {
    background-color: rgba(0, 158, 160, 0.8);
}

.btn-urgence {
    background-color: rgb(255, 0, 0);
}

.bolder {
    font-weight: bold;
}

nav ul a.btn-urgence:hover {
    background-color: rgba(255, 0, 0, 0.8);
    outline: 0;
}


/* Accessibilité */

.zoom {
    font-size: 2em;
}

.normal {
    font-size: 1.3em;
}


/* second navbar */

.navbar-fixed {
    top: 0;
    position: fixed;
}

#push nav {
    height: 84px;
    line-height: 84px;
}

#push nav li a {
    font-size: 1.3em;
    color: black;
}

#navbardeux {
    background-color: white;
}

.darklink {
    color: black;
}

.nav-wrapper span {
    position: absolute;
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: bold;
}

#logo {
    padding-left: 50px;
    height: 100px;
}

#logo img {
    padding-top: 5px;
    width: 65px;
    height: 65px;
}

#dropdown1 {
    font-size: 0.5em;
}

#dropservice {
    color: black;
}

.material-icons.right {
    margin-top: 8px;
}


/* title and paragraph */

h1 {
    font-size: 6em;
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.presentation h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.presentation p {
    font-size: 1.5em;
}


/* Slider */

.group-btn {
    position: absolute;
    z-index: 20;
    top: 75%;
    width: 100%;
}

.btn {
    height: 180px;
    line-height: inherit;
    width: 100%;
    background-color: transparent;
}

.btn span {
    font-size: 1.5em;
}

.cont-btn-green {
    background-color: rgba(96, 142, 58, 0.8)
}

.cont-btn-violet {
    background-color: rgba(155, 79, 150, 0.8)
}

.cont-btn-orange {
    background-color: rgba(221, 89, 0, 0.8)
}

.cont-btn-blue {
    background-color: rgba(0, 158, 160, 0.8)
}

.cont-btn-green:hover {
    background-color: rgba(96, 142, 58, 1)
}

.cont-btn-violet:hover {
    background-color: rgba(155, 79, 150, 1)
}

.cont-btn-orange:hover {
    background-color: rgba(221, 89, 0, 1)
}

.cont-btn-blue:hover {
    background-color: rgba(0, 158, 160, 1)
}

.group-btn .btn i {
    font-size: 4em;
}

.titlepres {
    position: absolute;
    z-index: 10;
    width: 90%;
    top: 15%;
    left: 5%;
}


/* div ng-show "j'ai un rendez-vous" */

.consults {
    background-color: #81c784;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.cardconsults {
    min-height: 60vh;
}


/* div ng-show "je vais etre hospitalisé" */

.hospitalise {
    background-color: #b39ddb;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/* div ng-show "je vais entrer en ehpad" */

.ehpad {
    background-color: #ffb38a;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/* div ng-show "je vais voir un patient" */

.patient {
    background-color: #bae8e5;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.blocpatient p {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.blocpatient a {
    padding-left: 4%;
}

.message h3 {
    font-size: 6em;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black
}

.message h5 {
    font-size: 8em;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black
}


/* page de contact*/

.input-field {
    height: 35px;
}

.nouscontacter {
    text-align: center;
}


/* carousel stats */

#stats {
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

#slider2 {
    height: 105%;
    font-size: 2em;
}

#stats a {
    top: 20%;
    width: 25%;
}


/* footer */

.footerp {
    font-size: 0.8em;
}

#bottomNavbar {
    background-color: rgba(0, 158, 160, 0.8);
}

#bottomNavbar a {
    font-size: 1.6em;
}


/* Global view */

.description img {
    margin: 0 10px 0 10px;
}

.description {
    font-size: 1.2rem;
}

.section {
    min-height: 80vh;
}

.circle.responsive-img {
    width: 85%;
}

@media screen and (max-width: 990px) {
    .group-btn {
        position: relative;
    }
}


/* Responsive */

@media screen and (max-width: 770px) {
    .message h3 {
        font-size: 4.5em;
    }
    .message h5 {
        font-size: 3.5em;
    }
    .group-btn {
        position: relative;
        width: 100%;
    }
    .group-btn .btn {
        display: flex;
        text-align: left;
    }
    .group-btn .btn i {
        font-size: 7em;
    }
    .group-btn .btn span {
        margin-top: 50px;
        margin-left: 5px;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 600px) {
    .btn {
        height: 120px;
    }
    .group-btn .btn i {
        font-size: 6em;
    }
    .group-btn .btn span {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 1.7em;
    }
    .group-btn {
        width: 100%;
    }
    .message h3 {
        font-size: 4em;
    }
    .message h5 {
        font-size: 3em;
    }
    #bottomNavbar {
        height: 80px;
        line-height: 40px;
    }
    #bottomBar {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    #bottomBar .right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: 80px;
        line-height: 0px;
    }
    #logo img {
        width: 65%;
        height: 90%;
    }
    .phone a #logo span {
        font-size: 0.8em;
    }
    nav i.material-icons {
        height: 40px;
        line-height: normal;
    }
    .nav-wrapper span {
        position: absolute;
        font-size: 0.7em;
        width: 200px;
        padding: 30px 0 0 10px;
        line-height: normal;
        white-space: normal;
    }
    #scrollspy {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    #scrollspy .right {
        width: 100%;
    }
    .message h3 {
        font-size: 3.5em;
    }
    .message h5 {
        font-size: 2.5em;
    }
    .btn {
        height: 100px;
        line-height: inherit;
    }
    .group-btn .btn i {
        font-size: 4em;
    }
    .group-btn .btn span {
        margin-top: 35px;
        margin-left: 10px;
        font-size: 1.5em;
    }
    #stats {
        width: 90vw;
        height: 35vh;
    }
    #stats h1 {
        font-size: 1.7em;
    }
    #stats p {
        font-size: 1.0em;
    }
    #stats i {
        font-size: 4rem;
    }
    #stats a {
        top: 90px;
    }
}

@media screen and (max-width: 400px) {
    #push {
        height: 80px;
    }
    #logo img {
        width: 45%;
        height: 70%;
    }
    .nav-wrapper span {
        position: absolute;
        font-size: 0.7em;
        width: 180px;
        padding: 20px 0 0 10px;
        line-height: normal;
        white-space: normal;
    }
    .titlepres {
        margin-top: 0;
    }
    .group-btn {
        margin-top: 5%;
    }
}


/* view ehpad */

.card {
    margin-top: 2%;
}

.vwtitle {
    color: black;
    text-decoration: underline;
}

.header {
    padding-top: 2%;
}

#cardtext {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.card-content {
    text-align: justify;
}

.card-content img {
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
}

.secondary-content {
    font-weight: bold;
    text-transform: uppercase;
}

blockquote {
    font-size: 1.5em;
    height: 5vh;
    font-weight: bold;
    text-transform: uppercase;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
}

.card-action {
    margin-left: 38%;
}

.list {
    margin-left: 10%;
}

.box2 {
    width: 70%;
    margin-left: 15%;
}

.box1 {
    width: 70%;
    margin-left: 15%;
}
