/* First navbar */

.phone a {
    font-size: 1.7em;
}

.access {
    width: 30px;
}

#separator {
    width: 15px;
}

#scrollspy {
    background-color: rgba(0, 158, 160, 0.8);
}

.btn-urgence {
    background-color: rgb(255, 0, 0);
}

.bolder {
    font-weight: bold;
}

nav ul a.btn-urgence:hover {
    background-color: rgba(255, 0, 0, 0.8);
    outline: 0;
}


/* Urgencies */

#urgencies {
    background-color: rgb(216, 8, 8);
}


/* Accessibilité */

.zoom {
    font-size: 2em;
}

.normal {
    font-size: 1.3em;
}

.secondary-content {
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
}

.nbblockquote {
    font-size: 1.5em;
    height: 5vh;
    font-weight: bold;
    text-transform: uppercase;
}


/* second navbar */

.navbar-fixed {
    top: 0;
    position: fixed;
}

#push nav {
    height: 100px;
    line-height: 100px;
}

#push nav li a {
    font-size: 1.8em;
    color: black;
}

#navbardeux {
    background-color: white;
}

.darklink {
    color: black;
}

#menuTitle {
    position: absolute;
    font-size: 1.8em;
    padding-left: 10px;
    font-weight: bold;
    left: 160px;
    right: 0px;
    width: 500px;
}

#logo {
    padding-left: 50px;
    height: 100px;
}

#logo img {
    padding-top: 5px;
    width: 100px;
    height: 100px;
}

#dropdown1 {
    font-size: 0.5em;
}

#dropservice {
    color: black;
}


/* title and paragraph */

#mainTitle {
    font-size: 5em;
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    padding-top: 5%;
}

.presentation h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.presentation p {
    font-size: 1.5em;
}


/* Slider */

.row-slider {
    height: 85vh;
}

.slider {
    height: 100% !important;
}

.slides {
    height: 90% !important;
}

.group-btn {
    position: absolute;
    z-index: 20;
    top: 70%;
    width: 100%;
}

.sliderbtn {
    height: 180px;
    line-height: inherit;
    width: 100%;
    background-color: transparent;
}

.btn span {
    font-size: 1.5em;
}

.cont-btn-green {
    background-color: rgba(96, 142, 58, 0.8)
}

.cont-btn-violet {
    background-color: rgba(155, 79, 150, 0.8)
}

.cont-btn-orange {
    background-color: rgba(221, 89, 0, 0.8)
}

.cont-btn-blue {
    background-color: rgba(0, 158, 160, 0.8)
}

.cont-btn-green:hover {
    background-color: rgba(96, 142, 58, 1)
}

.cont-btn-violet:hover {
    background-color: rgba(155, 79, 150, 1)
}

.cont-btn-orange:hover {
    background-color: rgba(221, 89, 0, 1)
}

.cont-btn-blue:hover {
    background-color: rgba(0, 158, 160, 1)
}

.group-btn .btn i {
    font-size: 4em;
}

.titlepres {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 5%;
}


/* Menu sous bouton */

.blocconsultation {
    display: flex;
    width: 100%;
}


/*.blocconsultation #consultation {
    display: flex;
}*/

#consultation, #imagerie, #perinatal {
    width: 30%;
}

.annu {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
    margin-bottom: 50px;
}

.alpha {
    margin-left: 0.3em;
    margin-right: 0.3em;
}


/* div ng-show "j'ai un rendez-vous" */

.consults {
    background-color: #81c784;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.cardconsults {
    min-height: 60vh;
}


/* div ng-show "je vais etre hospitalisé" */

.hospitalise {
    background-color: #b39ddb;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/* div ng-show "je vais entrer en ehpad" */

.ehpad {
    background-color: #ffb38a;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/* div ng-show "je vais voir un patient" */

.patient {
    background-color: #bae8e5;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.blocpatient p {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.blocpatient a {
    padding-left: 4%;
}

.message h3 {
    font-size: 6em;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black
}

.message h5 {
    font-size: 8em;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black
}


/* carousel stats */

#stats {
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

#slider2 {
    height: 105%;
    font-size: 2em;
}

#stats a {
    top: 20%;
    width: 25%;
}


/* footer */

.footerp {
    font-size: 0.8em;
}

#bottomNavbar {
    background-color: rgba(0, 158, 160, 0.8);
}

#bottomNavbar a {
    font-size: 1.6em;
}

.description img {
    margin: 0 10px 0 10px;
}

.description {
    font-size: 1.2rem;
}

.section {
    min-height: 80vh;
}

.circle.responsive-img {
    width: 85%;
}


/* page de contact*/

.input-field {
    height: 35px;
}

.nouscontacter {
    text-align: center;
}


/* Global view */

.description img {
    margin: 0 10px 0 10px;
}

.description {
    font-size: 1.2rem;
}

.section {
    min-height: 80vh;
}

.circle.responsive-img {
    width: 85%;
}


/* Navbar view services */

.sidenav img {
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
}

#cardtext {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.categorietemplate h4 {
    padding-top: 2%;
    margin-left: 20%;
}

.categorietemplate h5 a {
    color: black;
    text-decoration: underline;
}

.categorietemplate .card {
    margin-top: 2%;
}

#sidenavservices {
    margin-top: 6%;
    margin-right: 2%;
    position: fixed;
    list-style-type: none;
}

#sidenavservices a {
    font-size: 0.6em;
    color: black;
}

#sidenavservices a:hover {
    color: orange;
    border-left: solid orange 1px;
}

#categorieHeight {
    min-height: 700px;
    hyphens: auto;
    /*word-wrap: break-word;*/
}


/* Responsive */
@media screen and (max-height: 770px) {
  #mainTitle {
    padding-top: 0;
  }
}

@media screen and (min-width: 994px) and (max-width: 1300px) {
    #logo {
        padding-left: 10px;
    }
    #menuTitle {
        width: 30%;
        line-height: 40px;
        padding-top: 10px;
        left: 110px;
    }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
    .modal-trigger1 {
        display: none;
    }
    #mainTitle {
        font-size: 5em;
    }
    .group-btn {
        top: 55%;
    }
    .cont-btn, .sliderbtn {
        margin-top: 2%;
        height: 130px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .modal-trigger1 {
        display: none;
    }
    #mainTitle {
        font-size: 4em;
    }
    .group-btn {
        top: 52%;
    }
    .cont-btn, .sliderbtn {
        margin-top: 2%;
        height: 145px;
    }
}

@media screen and (min-width: 401px) and (max-width: 599px) {

    .modal-trigger1 {
        display: none;
    }

    #numHospital {
      /*display: none;*/
      font-size: 0.8em;
    }

    #scrollspy {
        display: flex;
        flex-direction: row;
    }

    #scrollspy .right {
      position: absolute;
      right: 10px;
      margin-right: 0;
    }

    #menuTitle {
        line-height: 30px;
        width: 70%;
    }
    .row-slider, .slider {
        height: 45vh !important;
    }
    #mainTitle {
        font-size: 4em;
    }
    .group-btn {
        position: relative;
    }
    .cont-btn, .sliderbtn {
        margin-top: 2%;
        height: 145px;
    }

    .slider2 .titlecar {
      font-size: 2em;
    }
}

@media screen and (max-width: 400px) {
    .modal-trigger1 {
        display: none;
    }

        #numHospital {
          display: none;
        }

        #scrollspy {
            display: flex;
            flex-direction: row;
        }

        #scrollspy .right {
          position: absolute;
          right: 10px;
          margin-right: 0;
        }

    #logo {
        padding-left: 30px;
    }
    #logo img {
        width: 80px;
        height: 80px;
    }
    #menuTitle {
        line-height: 30px;
        width: 60%;
        font-size: 1.4em;
        left: 130px;
    }
    .row-slider, .slider {
        height: 50vh !important;
    }
    #mainTitle {
        font-size: 2.5em;
    }
    .group-btn {
        position: relative;
    }
    .cont-btn, .sliderbtn {
        margin-top: 2%;
        height: 145px;
    }
}
