.zoom {
    font-size: 2em;
}

.normal {
    font-size: 1.3em;
}

/* First navbar */

.phone a {
    font-size: 1.7em;
}

#scrollspy {
    background: #ff7400;
}

/* second navbar */

.navbar-fixed {
    top: 0;
    position: fixed;
}

#push {
    height: 100px;
}

#push nav {
    height: 7em;
    line-height: 7em;
}

#push nav li a {
    font-size: 1.6em;
}

#navbardeux {
    background-color: white;
}

.darklink {
    color: black;
}

.nav-wrapper span {
    position: absolute;
    font-size: 0.8em;
    padding-left: 10px;
}

#logo {
    padding-left: 50px;
    height: 100px;
}

#logo img {
    padding-top: 5px;
    width: 90px;
    height: 90px;
}

/* title and paragraph */

h1 {
    font-size: 2.5em;
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

/* Slider */

.row {
  width: 100%;
}

.group-btn {
  margin-top: 15%;
}

.btn {
  margin: 2% 0 2% 0;
  height: inherit;
  line-height: inherit;
  background-color: #ff7400;
}

.group-btn .btn i{
  font-size: 4em;
}

.message {
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;*/
  color: black;
  text-shadow: 4px 4px 3px rgba(129, 129, 129, 1);
}

.message h3 {
  font-size: 5em;
}

 .message h5 {
   font-size: 4em;
 }

/* carousel stats */

#stats {
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 60vh;
}

#slider2 {
    height: 100%;
}

#stats a {
    top: 20%;
    width: 25%;
}

/* footer */

.footerp {
    font-size: 0.8em;
}

#bottomNavbar {
  background-color: #ff7400;
}


/* Global view */

.description img {
    margin: 0 10px 0 10px;
}

.description {
    font-size: 1.2rem;
}

.section {
    min-height: 80vh;
}

.circle.responsive-img {
    width: 85%;
}


/* Responsive */
@media screen and (max-width: 770px){
  .message h3 {
    font-size: 4em;
  }
   .message h5 {
     font-size: 3em;
   }
}

@media screen and (max-width: 560px) {
  .group-btn {
    margin-top: 15%;
  }
  .btn {
    height: 25%;
    margin: 2% 0 2% 0;
    line-height: 1em;
  }
  .group-btn .btn i {
    font-size: 2.5em;
    padding-top: 20px;
  }
  .message h3 {
    font-size: 3em;
  }
   .message h5 {
     font-size: 2em;
   }
    #bottomNavbar {
        height: 80px;
        line-height: 40px;
    }
    #bottomBar {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    #bottomBar .right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: 80px;
        line-height: 40px;
    }
    #logo img {
        width: 65%;
        height: 90%;
    }
    .phone a #logo span {
        font-size: 0.8em;
    }
    nav i.material-icons {
        height: 40px;
        line-height: normal;
    }
    .nav-wrapper span {
        position: absolute;
        font-size: 0.7em;
        width: 250px;
        padding: 30px 0 0 10px;
        line-height: normal;
        white-space: normal;
    }
    #scrollspy {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    #scrollspy .right {
        width: 100%;
    }
    .message h3 {
      font-size: 2em;
    }
     .message h5 {
       font-size: 1.5em;
     }
     .group-btn {
       margin-top: 15%;
     }
     .btn {
       height: 15%;
       margin: 1% 0 1% 0;
       line-height: 1em;
     }
     .group-btn .btn i {
       font-size: 1.5em;
       padding-top: 12px;
     }
    #stats {
        width: 90vw;
        height: 35vh;
    }
    #stats h1 {
        font-size: 1.7em;
    }
    #stats p {
        font-size: 1.0em;
    }
    #stats i {
        font-size: 4rem;
    }
    #stats a {
        top: 90px;
    }
  }

#modal1
{
  width: 45%
}

#modal1 p
{
  margin: 0
}
