<div class="container">
    <div class="col s12 m7">
        <h2 class="header justify">Mentions légales : Site du centre hospitalier de Nogent-le-rotrou</h2>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header justify">CONDITIONS GÉNÉRALES D´UTILISATION</h5>
                    <p class="flow-text cjustify">
                        L´utilisation de ce service est réservée à un usage strictement personnel. Toute reproduction ou représentation, en tout ou partie, à d´autres fins sur un quelconque support, est interdite. Le non-respect de cette interdiction constitue une
                        contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. Les informations contenues dans ce service sont non contractuelles et sujettes à modification sans préavis.
                    </p>
                    <h5 class="header justify">LÉGISLATION FRANÇAISE</h5>
                    <p class="flow-text cjustify">Droit d´accès au fichier informatisé : tout utilisateur ayant déposé dans le service des informations directement ou indirectement nominatives peut demander la communication des informations nominatives le concernant à
                        l´administrateur du service et les faire rectifier le cas échéant, conformément à la loi française No 78-17 du 6 janvier 1978 relative à l´informatique, aux fichiers et aux libertés. Toutes les marques commerciales citées dans ce service sont des
                        marques déposées et sont la propriété de leurs propriétaires.
                    </p>
                    <h5 class="header justify">Lien hébergeur:</h5>
                    <p class="flow-text cjustify">Lien</p>
                </div>
            </div>
        </div>
    </div>
</div>
