
        <div class="container">
            <div class="col s12 m7">
                <h2 class="header justify">Mentions Légales</h2>
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h5 class="header justify">Informations générales</h5>
                            <p class="flow-text cjustify">
                                Dénomination sociale : Hôpital Dr Edmond Morchoisne La Loupe
                            </p>
                            <p class="flow-text justify">
                                Dénomination sociale : Hôpital Dr Edmond Morchoisne La Loupe Siège social : Rue du Dr Edmond Morchoisne, 28240 La Loupe
                            </p>

                            <ul class="flow-text justify">
                                <h5 class="header justify">Coordonnées de contact:</h5>
                                <li>Tél Fixe : 02 37 29 33 11</li>
                                <li>Email : secretariat.direction@hopital-laloupe.fr
                                </li>
                                <li>Web : http://www.hopital-laloupe.fr</li>
                            </ul>

                            <h5 class="header justify">Coordonnées de contact:</h5>
                            <p class="flow-text justify">
                                RCS : Siren 262 800 907
                            </p>

                            <p class="flow-text justify">
                                Directeur de la publication : M. CRESTA (Directeur)
                            </p>
                        </br>
                        <h5 class="header justify">Propriété intellectuelle :</h5>
                        <p class="flow-text justify text-align">
                            Le site Internet, sa structure générale, ainsi que les textes, images animées ou non, savoir-faire, dessins, graphismes (...) et tout autre élément composant le site, sont la propriété de l’Hôpital La Loupe ou des partenaires qui auront autorisé
                            l’Hôpital La Loupe à produire leurs données. Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l'autorisation expresse de l'exploitant du site Internet est interdite et constituerait une contrefaçon sanctionnée
                            par les articles L 335-2 et suivants du Code de la propriété intellectuelle. Les marques de l'exploitant du site Internet et de ses partenaires, ainsi que les logos figurant sur le site sont des marques (semi-figuratives ou) déposées. Toute
                            reproduction totale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments du site Internet sans l'autorisation expresse de l'exploitant du site ou de son ayant-droit est donc prohibée, au sens de l'article L713-2 du CPI.
                        </p>

                        <h5 class="header justify">Hébergeur :</h5>
                        <p class="flow-text justify">
                            lien
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
