<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection"/>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../admin.css">

<style>
    #supModal {
        padding: 60px;
    }
    #warning {
        margin-bottom: 40px;
    }
    .warning {
        color: red;
    }

</style>

</head>
<body>

<!-- View -->

<div class="row">
    <div class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Liste des Services</h1>
            <table class="centered highlight striped">
                <thead>
                    <tr class="bordered">
                      <th>Parent</th>
                      <th>Titre</th>
                      <th>Photo</th>
                      <th>Texte</th>
                      <th>Lien</th>
                      <th>Supprimer</th>
                      <th>Editer</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                      <tr  ng-repeat='categorie in vm.categories | orderBy:"+categorie"'>
                        <td><select class="browser-default" ng-model='categorie.idparent'>
                             <option value='0'>Racine du menu "Nos Services"</option>
                             <option ng-repeat='categorie in vm.categories | orderBy: ["idparent","titre"]' value="{{categorie._id}}">{{categorie.titre}}</option>
                             </select>
                        </td>
                        <td><input ng-model='categorie.titre'></td>
                        <td><input ng-model='categorie.photo'></td>
                        <td><textarea ui-tinymce="vm.tinymceOptions" ng-model='categorie.texte'></textarea></td>
                        <td><input ng-model='categorie.lien'></td>

                          <td><button ng-click='vm.delete(categorie)' class="btn btn-danger">Delete</button></td>
                          <td><button ng-click='vm.update(categorie)' class="btn btn-danger">Editer</button></td>
                      </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a id="addjs" class="waves-effect waves-light btn col l2 offset-l1">Ajouter</a>
                </div>
            </div>

            <div id="showjs" class="row">
                <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
                  <div class="row">
                      <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                          <h2>Ajouter un service
                          </h2>
                          <form class="form-inline">
                              <div class="form-group">
                                  <p><input type="text" class="form-control" placeholder="Nom du service" ng-model='vm.categorie.titre'></p>
                                  <select class="browser-default" ng-model='vm.categorie.idparent'>
                                    <option disabled selected value=''>Service parent...</option>
                                    <option value='0'>Racine du menu "Nos Services"</option>
                                    <option ng-repeat='categorie in vm.categories | orderBy: ["idparent","titre"]' value="{{categorie._id}}">{{categorie.titre}}</option>
                                  </select>
                                  <p><input type="text" class="form-control" placeholder="Photo du service" ng-model='vm.categorie.photo'></p>
                                  <p><textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.categorie.texte'></textarea></p>
                                  <p><input type="text" class="form-control" placeholder="Lien du service" ng-model='vm.categorie.lien'></p>
                              </div>
                              <button ng-click='vm.create()' class="btn btn-default">Ajouter</button>
                          </form>
                      </div>
                  </div>
                </form>
            </div>

            <!-- Modal -->

            <div>
                <div id="modal_warning" class="modal">
                    <div class="modal-content" id="supModal">
                        <h4 class="center-align" id="warning">
                            <i class="small material-icons warning">warning</i>
                            Attention !
                            <i class="small material-icons warning">warning</i>
                        </h4>
                        <p class="center-align">La suppression d'un utilisateur est irréversible.<br>
                            Confirmez-vous la suppression de l'utilisateur ? :</p>

                        <p class="center-align">
                            [E-mail] - [Nom] [Prénom]
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right blue-grey lighten-5">Annuler</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat left red white-text">Confirmer</a>
                    </div>
                </div>
            </div>
            <aside>
                <div class="container">
                    <ul id="slide-out" class="side-nav">
                        <li>
                            <div class="userView">
                                <img class="background" src="http://demo.geekslabs.com/materialize/v2.2/layout03/images/user-profile-bg.jpg">
                                <a href="#!user"><img class="circle" src="../girl.jpg"></a>
                                <a href="#!name">
                                    <span class="white-text name">Laëtitia Rousseau</span>
                                </a>
                                <a href="#!email">
                                    <span class="white-text email">l.rousseau.ch.laloupe@gmail.com</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="../paneladmin.html">
                                <i class="material-icons">web</i>Accueil</a>
                        </li>
                        <li>
                            <a href="listadmin.html">
                                <i class="material-icons">web</i>Utilisateur</a>
                        </li>
                        <li>
                            <a href="contactadmin.html">
                                <i class="material-icons">email</i>Contact</a>
                        </li>
                        <li>
                            <a href="categorieadmin.html">
                                <i class="material-icons">business_center</i>Service</a>
                        </li>
                        <li>
                            <a href="articleadmin.html">
                                <i class="material-icons">chat_bubble_outline</i>Article</a>
                        </li>
                        <li>
                            <a href="aproposadmin.html">
                                <i class="material-icons">timeline</i>À propos</a>
                        </li>
                        <li>
                            <a href="marcheadmin.html">
                                <i class="material-icons">timeline</i>Marchés</a>
                        </li>
                        <li>
                            <a href="slideradmin.html">
                                <i class="material-icons">timeline</i>Statistique</a>
                        </li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </aside>
        </div>

        <!-- Fin Modal -->

        <!-- Fin View-->
        <script>
            $(document).ready(function() {
                $('.modal-trigger').leanModal();
            });

            $("#addjs").click(function() {
                $("#showjs").show();
            });
            $(".button-collapse").sideNav();
        </script>
