<div id="topFixed"></div>
<div class="row">
    <div class="col s12 col m12 offset-l2 l8 offset-l2 z-depth-6 card-panel">

        <h3>Titre de la page Actualité<input type="text" class="form-control" ng-model='vm.actualites.titre'></h3>
        <div class="row justificationabout">
          <textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.actualites.texte'></textarea>
            <a  class="waves-effect waves-light btn col l2 offset-l1" ng-click='vm.create2(aproposs)'>Editer</a>
        </div>
        <div class="input-field col s12 m6">
          <h5>Bouton d'upload des images :</h5>
          <p><input file-upload type="file" placeholder="Photo du service" id="uploadImage" name='file'></p>
          <h5>Source à intégrer dans l'éditeur : </h5><p id='chemin'></p>
        </div>
    </div>
