<div class="row">
    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <h2>Ajouter une actualité
        </h2>
    </form>
    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <form class="form-inline">
                    <div class="form-group">


                        <div class="input-field col s12">
                          <h3>Titre de la page Actualité<input type="text" class="form-control" ng-model='vm.actualite.titre'></h3>
                          <h3> Contenu de l'article </h3>
                          <p>
                              <textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.actualite.texte'></textarea>
                          </p>
                      </div>
                    </div>
                    <div class="input-field col s12">
                      <div class="input-field col s6">
                        <input file-upload type="file" placeholder="Photo du service" id="uploadImage" name='file'><br><br>
                      </div>
                      <div class="input-field col s6">
                        <button ng-click='vm.uploadFileChangeImage()' class="btn btn-default">Envoyer l'image</button>
                      </div>
                    </div>
                    <p>Ci-dessous le lien à coller dans l'éditeur de texte (Veulliez uploader l'image avant) : </p>
                    <p><input type="text" class="form-control " placeholder="lien de l'image" ng-model='vm.UploadImg'></p>
                    <div class="input-field col s12">
                      <button ng-click='vm.create(vm.actualite)' class="btn btn-default">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <h2>Liste des actualités
        </h2>
    </form>
    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel" ng-repeat='actualite in vm.actualites | orderBy:"$index":true'>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <form class="form-inline">
                    <div class="form-group">
                        <h3>Titre de la page Actualité<input type="text" class="form-control" ng-model='actualite.titre'></h3>
                        <h3> Contenu de l'article </h3>
                        <p>
                            <textarea ui-tinymce="vm.tinymceOptions" ng-model='actualite.texte'></textarea>
                        </p>
                    </div>
                    <div class="input-field col s12">
                      <div class="input-field col s6">
                        <input file-upload type="file" placeholder="Photo du service" id="uploadImageUpdate" name='file'><br><br>
                      </div>
                      <div class="input-field col s6">
                        <button ng-click='vm.uploadFileChangeImageUpdate()' class="btn btn-default">Envoyer l'image</button>
                      </div>
                    </div>
                    <p>Ci-dessous le lien à coller dans l'éditeur de texte (Veulliez uploader l'image avant) : </p>
                    <p><input type="text" class="form-control " placeholder="lien de l'image" ng-model='vm.UploadImgUpdate'></p>
                    <button ng-click='vm.update(actualite)' class="btn btn-default">Enregistrer</button>
                    <button ng-click='vm.delete(actualite)' class="btn btn-default" href="#modal-warning">Supprimer</button>
                </form>
            </div>
        </div>
    </form>

    <!-- Modal -->

    <div>
        <div id="modal_warning" class="modal">
            <div class="modal-content" id="supModal">
                <h4 class="center-align" id="warning">
                    <i class="small material-icons warning">warning</i>
                    Attention !
                    <i class="small material-icons warning">warning</i>
                </h4>
                <p class="center-align">La suppression d'un utilisateur est irréversible.<br>
                    Confirmez-vous la suppression de l'utilisateur ? :</p>

                <p class="center-align">
                    [E-mail] - [Nom] [Prénom]
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right blue-grey lighten-5">Annuler</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat left red white-text">Confirmer</a>
            </div>
        </div>
    </div>
</div>
