<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Ajouter un contact </h2>
        <form class="form-inline">
            <div class="form-group">
                <p><input type="text" class="form-control" placeholder="Nom du service" ng-model='vm.contact.nom'></p>
                <p><input type="text" class="form-control" placeholder="Numéro" ng-model='vm.contact.telephone'></p>
            </div>
            <button ng-click='vm.create2()' class="btn btn-default">Ajouter</button>
        </form>

    </div>
</div>
