<div id="topFixed"></div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Ajouter un contact </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>Nom du service <input type="text" class="form-control" placeholder="Nom du service" ng-model='vm.contact.nom'></p>
                <p>Numero(s)<input type="text" class="form-control" placeholder="Numero(s)" ng-model='vm.contact.telephone'></p>
                <p>Adresse mail<input type="text" class="form-control" placeholder="Adresse mail" ng-model='vm.contact.email'></p>
            </div>
            <button ng-click='vm.create2()' class="btn btn-default">Ajouter</button>
        </form>

    </div>
</div>
<table ng-hide="vm.contacts.length < 1">
   <tr>
       <th>Nom </th>
       <th>Numero</th>
       <th>Adresse mail </th>
       <th>Supprimer</th>
       <th>Editer</th>
   </tr>

   <tr  ng-repeat='contact in vm.contacts | filter:searchText | orderBy:"+contact"'>
        <td><input ng-model="contact.nom"></input></td>
       <td><input ng-model="contact.telephone"></input></td>
       <td><input ng-model="contact.email"></input></td>
       <td><button ng-click='vm.delete(contact)' class="btn btn-danger">Delete</button></td>
       <td><button ng-click='vm.update(contact)' class="btn btn-danger">Editer</button></td>
   </tr>
</table>
