<div id="topFixed"></div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Ajouter un service
        </h2>
        <form class="form-inline">
            <div class="form-group">
                <p><input type="text" class="form-control" placeholder="Nom du service" ng-model='vm.categorie.titre'></p>
                <select class="browser-default" ng-model='vm.categorie.idparent'>
                  <option disabled selected value=''>Service parent...</option>
                  <option value='0'>Racine du menu "Nos Services"</option>
                  <option ng-repeat='categorie in vm.categories | orderBy: ["idparent","titre"]' value="{{categorie._id}}">{{categorie.titre}}</option>
                </select>
                <p><input file-upload type="file" placeholder="Photo du service" id="uploadImage" name='file'></p>
                <p><textarea ui-tinymce="vm.tinymceOptions" ng-model='vm.categorie.texte'></textarea></p>
                <p><input type="text" class="form-control" placeholder="Lien du service" ng-model='vm.categorie.lien'></p>
            </div>
            <button ng-click='vm.create(categorie)' class="btn btn-default">Ajouter</button>
        </form>
    </div>
</div>
<table ng-hide="vm.categories.length < 1">
   <tr>
       <th>Parent</th>
       <th>Titre</th>
       <th>Photo</th>
       <th>Texte</th>
       <th>Lien</th>
       <th>Supprimer</th>
       <th>Editer</th>
   </tr>

   <tr  ng-repeat='categorie in vm.categories | orderBy:"+categorie"'>
     <td><select class="browser-default" ng-model='categorie.idparent'>
          <option value='0'>Racine du menu "Nos Services"</option>
          <option ng-repeat='c in vm.categories | orderBy: ["idparent","titre"]' value="{{c._id}}">{{c.titre}}</option>
          </select>
     </td>
     <td><input ng-model='categorie.titre'></td>
     <td><input ng-model='categorie.photo'></td>
     <td><textarea ui-tinymce="vm.tinymceOptions" ng-model='categorie.texte'></textarea></td>
     <td><input ng-model='categorie.lien'></td>

       <td><button ng-click='vm.delete(categorie)' class="btn btn-danger">Delete</button></td>
       <td><button ng-click='vm.update(categorie)' class="btn btn-danger">Editer</button></td>
   </tr>
</table>
