<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Editer la page A propos </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>Titre de la page A propos<input type="text" class="form-control" placeholder="Titre de la page A propos" ng-model='vm.aproposs.titre'></p>
                <p>Contenu de la page A propos<input type="text" class="form-control" placeholder="Contenu de la page A propos" ng-model='vm.aproposs.texte'></p>
            </div>
            <button ng-click='vm.create2()' class="btn btn-default">Enregistrer</button>
        </form>

    </div>
</div>
