<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Ajouter un apropos </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>titre du service <input type="text" class="form-control" placeholder="titre du service" ng-model='vm.aproposs.titre'></p>
                <p>Numero(s)<input type="text" class="form-control" placeholder="Tout les numéros, ex: NumeroDuService:0123456789, SecondNumeroDuService:0213456789" ng-model='vm.aproposs.texte'></p>
            </div>
            <button ng-click='vm.create2()' class="btn btn-default">Enregistrer</button>
        </form>

    </div>
</div>
