<!-- View -->
<div id="topFixed"></div>
<div class="row">
    <div class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Liste des praticiens</h1>
            <table class="centered highlight striped">
                <thead>
                    <tr class="bordered">
                        <th data-field="lastname">Nom et prenom</th>
                        <th data-field="name">Numéro</th>
                        <th data-field="id">Spécialisation</th>
                        <th data-field="checkbox">Sélection</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat='annuaire in vm.annuaires | filter:searchText | orderBy:"+annuaire"'>
                      <td><input ng-model="annuaire.nom"></input></td>
                     <td><input ng-model="annuaire.telephone"></input></td>
                     <td><input ng-model="annuaire.fonction"></input></td>
                        <td>
                        <li>
                            <a class="btn-floating yellow darken-1"  ng-click='vm.update(annuaire)'>
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <a class="btn-floating red">
                                <i class="material-icons"  ng-click='vm.delete(annuaire)'>delete</i>
                            </a>
                        </li>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a id="addjs" class="waves-effect waves-light btn col l2 offset-l1">Ajouter</a>
    </div>
</div>

<div id="showjs" class="row">
    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Ajouter un praticien</h1>
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="annuname" type="text" length="40" ng-model='vm.annuaire.nom'>
                <label for="annuname">Nom du Service</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">phone</i>
                <input id="annuphone" type="text" length="30" ng-model='vm.annuaire.telephone'>
                <label for="annuphone">Numéro</label>
            </div>

            <div class="input-field col s6 offset-s3">
                <input id="annufonction" type="text"  ng-model='vm.annuaire.fonction'>
                <label for="annufontcion">Nom du service</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn-large col s6 offset-s3" ng-click='vm.create()'>Enregistrer</a>
        </div>
    </form>
</div>
<script>
$(document).ready(function() {
    $('.modal-trigger').leanModal();
});

$("#addjs").click(function() {
    $("#showjs").show();
});
</script>
