<main>
    <div class="container">
        <div class="row">
            <a href="#/boutons/rendezvous" class="col offset-l1 l5 m5 s12 waves-effect waves-light btn-large btn1">
                <i class="large-i material-icons">insert_invitation</i><br>J'ai un rendez-vous</a>
            <a href="#/boutons/hospitalise" class="col offset-l1 l5 m5 s12 waves-effect waves-light btn-large btn2">
                <i class="large-i material-icons">local_hospital</i><br>Je vais être hospitalisé</a>
            <a href="#/boutons/ehpad" class="col offset-l1 l5 m5 s12 waves-effect waves-light btn-large btn3">
                <i class="large-i material-icons">home</i><br>Je vais entrer en EHPAD</a>
            <a href="#/boutons/visite" class="col offset-l1 l5 m5 s12 waves-effect waves-light btn-large btn4">
                <i class="large-i material-icons">transfer_within_a_station</i><br>Je vais voir un patient</a>
        </div>
    </div>
</main>
