<div class="row">
    <div class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Liste des Contacts</h1>
            <table class="centered highlight striped">
                <thead>
                    <tr class="bordered">
                        <th data-field="lastname">Nom du service</th>
                        <th data-field="name">Numéro</th>
                        <th data-field="id">Email</th>
                        <th data-field="checkbox">Sélection</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat='contact in vm.contacts | filter:searchText | orderBy:"+contact"'>
                      <td><input ng-model="contact.nom"></input></td>
                     <td><input ng-model="contact.telephone"></input></td>
                     <td><input ng-model="contact.email"></input></td>
                        <td>
                        <li>
                            <a class="btn-floating yellow darken-1"  ng-click='vm.update(contact)'>
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <a class="btn-floating red">
                                <i class="material-icons"  ng-click='vm.delete(contact)'>delete</i>
                            </a>
                        </li>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a id="addjs" class="waves-effect waves-light btn col l2 offset-l1">Ajouter</a>
    </div>
</div>

<div id="showjs" class="row">
    <form class="col offset-l2 l8 offset-l2 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Ajouter un Contact</h1>
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="contactnom" type="text" length="40" ng-model='vm.contact.nom'>
                <label for="contactnom">Nom du Service</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">phone</i>
                <input id="contactphone" type="text" length="30" ng-model='vm.contact.telephone'>
                <label for="contactphone">Numéro</label>
            </div>

            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">email</i>
                <input id="contactmail" type="text" length="30" ng-model='vm.contact.email'>
                <label for="contactmail">Email</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn-large col s6 offset-s3" ng-click='vm.create()'>Enregistrer</a>
        </div>
    </form>
</div>
<script>
$(document).ready(function() {
    $('.modal-trigger').leanModal();
});

$("#addjs").click(function() {
    $("#showjs").show();
});
$(".button-collapse").sideNav();
</script>
