<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection"/>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../admin.css">

<!-- View -->

<div class="row">
    <form class="col offset-l2 l6 offset-l3 z-depth-6 card-panel">
        <div class="row">
            <h1 class="center-align">Administration</h1>
            <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input class="validate" id="email" type="email">
                <label for="email" data-error="wrong" data-success="right">Identifiant</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password">
                <label for="password">Mot de passe</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12  login-text">
                <input type="checkbox" id="remember-me"/>
                <label for="remember-me">Se rappeler de moi</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a href="../paneladmin.html" class="waves-effect waves-light btn-large col s6 offset-s3">Se connecter</a>
            </div>
            <div id="forget" class="input-field col s12">
                <a class="waves-effect waves-light btn-large col s6 offset-s3">Mot de passe oublié</a>
            </div>
        </div>
    </form>
</div>

<!-- Fin View-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
    $('input.autocomplete').autocomplete({
        data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'http://placehold.it/250x250'
        }
    });
</script>
</body>
</html>
