<aside>
    <div class="container">
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="userView">
                    <img class="background" src="http://demo.geekslabs.com/materialize/v2.2/layout03/images/user-profile-bg.jpg">
                    <a href="#!user"><img class="circle" src="../girl.jpg"></a>
                    <a href="#!name">
                        <span class="white-text name">Laëtitia Rousseau</span>
                    </a>
                    <a href="#!email">
                        <span class="white-text email">l.rousseau.ch.laloupe@gmail.com</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="../paneladmin.html">
                    <i class="material-icons">web</i>Accueil</a>
            </li>
            <li>
              <a href="aproposadmin.html">
                <i class="material-icons">edit_location</i>À propos</a>
              </li>
            <li>
              <a href="articleadmin.html">
                <i class="material-icons">chat_bubble_outline</i>Article</a>
              </li>
            <li>
                <a href="#"><i class="material-icons">panorama_wide_angle</i>Boutons</a>
            </li>
            <li>
              <a href="contactadmin.html">
                <i class="material-icons">email</i>Contact</a>
              </li>
              <li>
                <a href="marcheadmin.html">
                  <i class="material-icons">attach_money</i>Marchés</a>
                </li>
            <li>
                <a href="listadmin.html">
                    <i class="material-icons">face</i>Utilisateur</a>
            </li>
            <li>
                <a href="categorieadmin.html">
                    <i class="material-icons">business_center</i>Service</a>
            </li>
            <li>
                <a href="slideradmin.html">
                    <i class="material-icons">timeline</i>Statistique</a>
            </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn">menu</a>
    </div>
</aside>
