<aside style='position:fixed;top:10px;right:25px;z-index:1000' ng-controller='sidebarController as vm'>
    <div class="container" ng-show='vm.isLogged'>
        <ul class="side-nav fixed">
            <li>
                <div class="userView">
                    <a>
                        <span class="name">Panneau d'administration</span>
                    </a>
                    <a>
                        <span class="email">Que souhaitez-vous faire ?</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="#/">
                    <i class="material-icons">web</i>Accueil</a>
            </li>
            <li>
                <a href="#/utilisateurs">
                    <i class="material-icons">web</i>Liste des utilisateurs</a>
            </li>
            <li>
                <a href="#/utilisateurs/ajouter">
                    <i class="material-icons">web</i>Ajouter un administrateur</a>
            </li>
            <li>
                <a href="#/contacts">
                    <i class="material-icons">email</i>Contacts</a>
            </li>
            <li>
                <a href="#/services">
                    <i class="material-icons">business_center</i>Services</a>
            </li>
            <li>
                <a href="#/actualite">
                    <i class="material-icons">chat_bubble_outline</i>Articles</a>
            </li>
            <li>
                <a href="#/annuaire">
                    <i class="material-icons">timeline</i>Annuaires</a>
            </li>
            <li>
                <a href="#/apropos">
                    <i class="material-icons">timeline</i>À propos</a>
            </li>
            <li>
                <a href="#/marches">
                    <i class="material-icons">timeline</i>Marchés</a>
            </li>
            <li>
                <a href="#/stats">
                    <i class="material-icons">timeline</i>Statistiques</a>
            </li>
            <li>
                <a ng-click='vm.logout()'>
                    <i class="material-icons">timeline</i>Se déconnecter</a>
            </li>
            <li>
                <a href="../">
                    <i class="material-icons">timeline</i>Retour au site</a>
            </li>
        </ul>
    </div>
</aside>
