<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Modifier les statistique en bas de page </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>Stat 1 : <input type="text" class="form-control" placeholder="Statistique numero 1" ng-model='vm.stats.texte1'></p>
                <p>stat 2 : <input type="text" class="form-control" placeholder="Statistique numero 2" ng-model='vm.stats.texte2'></p>
                <p>stat 3 : <input type="text" class="form-control" placeholder="Statistique numero 3" ng-model='vm.stats.texte3'></p>
                <p>stat 4 : <input type="text" class="form-control" placeholder="Statistique numero 4" ng-model='vm.stats.texte4'></p>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Enregistrer</button>
        </form>

    </div>
</div>
