<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Modifier les statistique en bas de page </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>Icone sourire : <input type="text" class="form-control" placeholder="Icone sourire" ng-model='vm.stats.texte1'></p>
                <p>Icone maison : <input type="text" class="form-control" placeholder="Icone maison" ng-model='vm.stats.texte2'></p>
                <p>Icone lit : <input type="text" class="form-control" placeholder="Icone lit" ng-model='vm.stats.texte3'></p>
                <p>Icone croix : <input type="text" class="form-control" placeholder="Icone croix" ng-model='vm.stats.texte4'></p>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Enregistrer</button>
        </form>

    </div>
</div>
